$primary-color: #444;
$secondary-color: #ff0800;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
