// Home view
section#home {
  margin: 0;
  
  .lg-heading {
    font-weight: bold;
    font-size: 6rem;
  }

  .sm-heading {
    font-weight: 400;
    font-size: 2rem;
    background-color: #333;
    padding: 0.25rem;
    width: fit-content;
    border-radius: 8px;
  }

  .icons {
    padding-top: 1rem;
    a {
      font-size: 1.5rem;
      margin: 0.5rem;
      color: white;
      text-decoration: none;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}
