.menu {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba($color: #000000, $alpha: 0.7);
}

.menu-nav {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.menu-item {
  margin: 0 1rem;
  padding: 1rem;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4f4;

    &:hover {
      color: $secondary-color;
    }
  }
}
