.navigation {
  position: sticky;
  margin: auto;
  top: 0;
  z-index: 1;
  width: fit-content;
  height: 60px;
  background: rgba($color: #000000, $alpha: 0.7);
  border-radius: 8px;
  border: $secondary-color 3px solid;
}

.menu-nav {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

li {
  margin: 0 1rem;
  padding: 1rem;

  &.active{
    a{
      color: $secondary-color;
      font-size: larger;
      @include easeOut;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4f4;

    

    &:hover {
      color: $secondary-color;
      @include easeOut;
    }
  }
}
