@import "config";
@import "nav";
@import "home";
@import "about";
@import "contact";
@import "work";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  line-height: 1.5;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;

  .container-bg{
    background: rgba(darken($primary-color, 3), 0.5);
  }
}

.text-secondary {
  color: $secondary-color;
}

#background {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  background: linear-gradient($primary-color, lighten($primary-color, 10));
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
